@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-title {
    position: relative;
    font-size: 50px;
}

html {
    font-size: 10px; // change to whatever
  
    @include breakpoint($small) {
      font-size: 8x; // change to whatever
    }
  
    @include breakpoint($medium) {
      font-size: 10px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 12px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 14px; // change to whatever
    }
  }